.skills-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
}

.skills-container img {
    width: 6rem;
}

@media (max-width:992px) {
    .skills-container {
        flex-direction: column;
    }
}